
[Bb]in/
[Oo]bj/
**/[Bb]in/
**/[Oo]bj/
/api/**/bin/
/api/**/obj/
*.exe
*.dll
*.pdb
*.cache
**/*.dll
**/*.pdb
**/*.cache
*.user
*.suo
*.sln.docstates
.vs/
.history/
*.log

# ==========================================
# --- Angular / Node ---
# ==========================================
node_modules/
.angular/
dist/
tmp/
out-tsc/
bazel-out/
/.angular/cache
npm-debug.log
yarn-error.log

# ==========================================
# --- IDEs (VS Code, JetBrains) ---
# ==========================================
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/

# ==========================================
# --- OS Files ---
# ==========================================
.DS_Store
Thumbs.db