# Herramientas de Editor (.NET / VS)
.vs/
.vscode/
*.user
*.suo

# Backend (api)
**/[Bb]in/
**/[Oo]bj/
**/appsettings.Development.json
**/appsettings.Production.json

# Frontend (client)
client/node_modules/
client/dist/
client/.angular/

# Secretos locales (usar .env.example como plantilla)
.env

# Archivos del Sistema
.DS_Store
Thumbs.db